{% extends 'base.twig' %}

{% block main %}

<div class="grid">
    <article>
        <h2>Discover the {{dino2.name}}</h2>

        <div class="description">
            {{dino2.description}}
        </div>

        <div class="card">
            <img src="{{dino2.avatar}}" alt="" />
            <dl>
                <dt>Name</dt>
                <dd>{{dino2.name}}</dd>
                <dt>Name meaning</dt>
                <dd>{{dino2.name_meaning}}</dd>
                <dt>Diet</dt>
                <dd>{{dino2.diet}}</dd>
                <dt>Height</dt>
                <dd>{{dino2.height}}</dd>
                <dt>Length</dt>
                <dd>{{dino2.length}}</dd>
                <dt>Weight</dt>
                <dd>{{dino2.weight}}</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
    <!-- Ne fonctionne pas -->
            {% for dino2 in dinau %}
        <!-- iterate here ? -->
            <a href="">
                <figure>
                    <img src="" alt="" />
                    <figcaption>Discover the </figcaption>
                        $colors = array("red","green","blue","yellow","brown");
                        $random_keys = array_rand($colors, 3); // On récupére trois clés aléatoires
                        echo $colors[$random_keys[0]];
                        echo $colors[$random_keys[1]];
                        echo $colors[$random_keys[2]];
                </figure>
            </a>
            {% endfor %}
    </aside>
</div>
{% endblock %}