{% extends 'base.twig' %}
{% block main %}
<section>
    <h2>The world of Jurassic Park</h2>

    <!-- iterate here ? -->
    {% for dino2 in dinau %}
            <a href="/dinosaur/{{dino2.slug}}">
            <figure>
                <img src="{{dino2.avatar}}" alt="" />
                <figcaption>Discover the {{dino2.name}}</figcaption>
            </figure>
        </a>
        {% endfor %}

</section>
{% endblock %}